<a href="https://colab.research.google.com/github/O-Kpy/Kaggle/blob/main/Dacon_%EC%8B%AC%EB%A6%AC_%EC%84%B1%ED%96%A5_%EC%98%88%EC%B8%A1_AI_%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C_%ED%8C%8C%EC%9D%B4%ED%86%A0%EC%B9%98(%EC%A0%84%EC%B2%98%EB%A6%ACver).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('whitegrid')
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder, robust_scale

In [ ]:
print(torch.__version__)

1.8.1+cu101

In [73]:
train = pd.read_csv('/content/drive/MyDrive/dataset/Dacon/연습/심리 성향 예측 AI 경진대회_train.csv')
test = pd.read_csv('/content/drive/MyDrive/dataset/Dacon/연습/심리 성향 예측 AI 경진대회_test_x.csv')
print(train.shape, test.shape)

(45532, 78) (11383, 77)

In [ ]:
data = pd.concat([train, test])

In [3]:
for i in train.select_dtypes('object').columns:
  train = pd.get_dummies(data=train, columns=[i])

for i in test.select_dtypes('object').columns:
  test = pd.get_dummies(data=test, columns=[i])

In [13]:
train['moderate tendencies'] = train['tp06'] + train['tp07'] + train['tp08'] + train['tp09'] + train['tp10']
test['moderate tendencies'] = test['tp06'] + test['tp07'] + test['tp08'] + test['tp09'] + test['tp10']

In [14]:
train['radical tendencies'] = train['tp01'] + train['tp02']	+ train['tp03'] + train['tp04'] + train['tp05']
test['radical tendencies'] = test['tp01'] + test['tp02']	+ test['tp03'] + test['tp04'] + test['tp05']

In [6]:
train_columns = [c for c in train.columns if c.startswith('Q')]
train = train.drop(columns=train_columns)

test_columns = [c for c in test.columns if c.startswith('Q')]
test = test.drop(columns=test_columns)

In [ ]:
train

       index  QaA   QaE  QbA   QbE  ...  wr_09  wr_10  wr_11  wr_12  wr_13
0          0  3.0   363  4.0  1370  ...      0      1      0      1      1
1          1  5.0   647  5.0  1313  ...      0      1      0      1      1
2          2  4.0  1623  1.0  1480  ...      1      1      0      1      1
3          3  3.0   504  3.0  2311  ...      0      1      0      1      1
4          4  1.0   927  1.0   707  ...      0      1      1      1      1
...      ...  ...   ...  ...   ...  ...    ...    ...    ...    ...    ...
45527  45527  2.0  1050  5.0   619  ...      1      1      0      1      1
45528  45528  2.0   581  3.0  1353  ...      1      1      0      1      1
45529  45529  4.0   593  1.0   857  ...      0      1      0      1      1
45530  45530  1.0   747  3.0  1331  ...      1      1      0      1      1
45531  45531  3.0   496  5.0  1827  ...      0      1      0      1      1

[45532 rows x 78 columns]

In [ ]:
#@title
labels = ['a', 'b', 'c', 'd', 'e', 'f']
data['QaE_cut'] = pd.qcut(data['QaE'], 6, labels=labels)
data['QbE_cut'] = pd.qcut(data['QbE'], 6, labels=labels)
data['QcE_cut'] = pd.qcut(data['QcE'], 6, labels=labels)
data['QdE_cut'] = pd.qcut(data['QdE'], 6, labels=labels)
data['QeE_cut'] = pd.qcut(data['QeE'], 6, labels=labels)
data['QfE_cut'] = pd.qcut(data['QfE'], 6, labels=labels)
data['QgE_cut'] = pd.qcut(data['QgE'], 6, labels=labels)
data['QhE_cut'] = pd.qcut(data['QhE'], 6, labels=labels)
data['QiE_cut'] = pd.qcut(data['QiE'], 6, labels=labels)
data['QjE_cut'] = pd.qcut(data['QjE'], 6, labels=labels)
data['QkE_cut'] = pd.qcut(data['QkE'], 6, labels=labels)
data['QlE_cut'] = pd.qcut(data['QlE'], 6, labels=labels)
data['QmE_cut'] = pd.qcut(data['QmE'], 6, labels=labels)
data['QnE_cut'] = pd.qcut(data['QnE'], 6, labels=labels)
data['QoE_cut'] = pd.qcut(data['QoE'], 6, labels=labels)
data['QpE_cut'] = pd.qcut(data['QpE'], 6, labels=labels)
data['QqE_cut'] = pd.qcut(data['QqE'], 6, labels=labels)
data['QrE_cut'] = pd.qcut(data['QrE'], 6, labels=labels)
data['QsE_cut'] = pd.qcut(data['QsE'], 6, labels=labels)
data['QtE_cut'] = pd.qcut(data['QtE'], 6, labels=labels)

In [7]:
train = train.drop(index=train[train['familysize'] > 50].index)
test = test.drop(index=test[test['familysize'] > 50].index)

In [8]:
train_agg = train.drop(columns='voted').groupby('index').agg(['min', 'max', 'sum', 'count', 'median'])
test_agg = test.groupby('index').agg(['min', 'max', 'sum', 'count', 'median'])

train_agg_columns = []
test_agg_columns = []
for i in train_agg.columns.levels[0]:
  for j in train_agg.columns.levels[1]:
    train_agg_columns.append(f'{i}-{j}')

for a in test_agg.columns.levels[0]:
  for b in test_agg.columns.levels[1]:
    test_agg_columns.append(f'{a}-{b}')

train_agg.columns = train_agg_columns
test_agg.columns = test_agg_columns

In [9]:
corr_matrix_train = train_agg.corr()
upper_train = corr_matrix_train.where(np.triu(np.ones(corr_matrix_train.shape), k=1).astype(np.bool))
to_drop_train = [c for c in upper_train.columns if any(abs(upper_train[c])>0.90)]

corr_matrix_test = test_agg.corr()
upper_test = corr_matrix_test.where(np.triu(np.ones(corr_matrix_test.shape), k=1).astype(np.bool))
to_drop_test = [c for c in upper_test.columns if any(abs(upper_test[c])>0.90)]

print(f'train_agg whole columns:{len(train_agg.columns)}, train to drop columns:{len(to_drop_train)} and test_agg whole columns:{len(test_agg.columns)}, test to drop columns:{len(to_drop_test)}')

train_agg whole columns:310, train to drop columns:187 and test_agg whole columns:310, test to drop columns:187

In [ ]:
train_final = train.merge(train_agg.drop(columns=to_drop_train), how='left', on='index')
test_final = test.merge(test_agg.drop(columns=to_drop_test), how='left', on='index')

In [15]:
def label_encoding(df):
    le = LabelEncoder()
    original_columns = list(df.columns)
    
    for col in df:
        # df의 컬럼의 유형이 object인 것들만
        if df[col].dtype == 'object':
            le.fit(df[col])
            df[col] = le.transform(df[col])

    # 새롭게 만들어진 컬럼들의 이름을 리스트로 저장
    new_columns = [c for c in df.columns if c not in original_columns]
    
    # 수치형으로 변경된 df와 새롭게 만들어진 컬럼 이름 리스트를 반환
    return df, new_columns

In [74]:
df = train.append(test)

df = pd.get_dummies(df, columns=['religion', 'race'], dummy_na=False) # one-hot-encoding

df, df_new_columns = label_encoding(df)

df = df[df['familysize'] < 100]

qe_columns = [i for i in df.columns[range(1, 40, 2)]]

df['qe_median'] = df[qe_columns].median(axis=1)

df[qe_columns] = np.log1p(df[qe_columns])

df['qe_logsum'] = df[qe_columns].sum(axis=1)

def get_sum_qe_label(df):
    if df < 100: return 1
    elif df < 150: return 2
    else: return 0
    
df['qe_logsum_label'] = df['qe_logsum'].apply(lambda x:get_sum_qe_label(x))

def familysize_label(df):
    if df < 4: return 1
    elif df < 8: return 2
    elif df < 16: return 3
    elif df < 32: return 4
    else: return 0
  
df['familysize_label'] = df['familysize'].apply(lambda x:familysize_label(x))

ls_minus = ['e', 'f', 'k', 'q', 'r', 'a', 'd', 'g', 'i', 'n']

for i in ls_minus:
    df[f'Q{i}A'] = 6 - df[f'Q{i}A']
    
qa_columns = [i for i in df.columns[range(0, 39, 2)]]

df['mach_score'] = df[qa_columns].sum(axis=1)

views_ls = ['QqA', 'QeA', 'QbA', 'QhA', 'QjA', 'QmA']
tactics_ls = ['QcA', 'QfA', 'QoA', 'QsA', 'QrA']

df['views_score'] = df[views_ls].sum(axis=1)
df['tactics_score'] = df[tactics_ls].sum(axis=1) # catboost에서는 제외

df['tp06'] = 8 - df['tp06']
df['tp02'] = 8 - df['tp02']
df['tp08'] = 8 - df['tp08']
df['tp04'] = 8 - df['tp04']
df['tp10'] = 8 - df['tp10']

df['extreversion_score'] = df['tp01'] + df['tp06'] # catboost에서는 제외
df['agreeableness_score'] = df['tp07'] + df['tp02'] 
df['conscientiousness_score'] = df['tp03'] + df['tp08'] # catboost에서는 제외
df['emotionalstability_score'] = df['tp09'] + df['tp04'] # catboost에서는 제외
df['opennessexperiences_score'] = df['tp05'] + df['tp10']

wrs = [f for f in df.columns if 'wr' in f]
wfs = [f for f in df.columns if 'wf' in f]

df['wrs_count'] = df[wrs].sum(axis=1) 
df['wfs_count'] = df[wfs].sum(axis=1) # catboost에서는 제외

df['wrs_kurt'] = df[wrs].kurtosis(axis=1) # catboost에서는 제외
df['wrs_skew'] = df[wrs].skew(axis=1) 

df['age_group'].replace(0, 7, inplace=True)
df['education'].replace(0, 5, inplace=True)

df['n2_prod'] = df['age_group'] * df['education']
df['n2_prod_weighted'] = df['age_group'] * 0.52 + df['education'] * 0.48

drop_list = ['QaE', 'QbE', 'QcE', 'QdE', 'QeE',
             'QfE', 'QgE', 'QhE', 'QiE', 'QjE',
             'QkE', 'QlE', 'QmE', 'QnE', 'QoE',
             'QpE', 'QqE', 'QrE', 'QsE', 'QtE', 
             'hand']

df = df.drop(drop_list, axis=1)

In [ ]:
train_columns = train.drop(columns=['index', 'voted']).columns
x_train = train.drop(columns=['index', 'voted']).values
y_train = 2 - train['voted']
x_test = test.drop(columns=['index']).values
y_train = y_train.astype(np.float32)

In [75]:
data_columns = df.drop(columns=['index', 'voted']).columns
x_train = df.loc[df['voted'].notnull()].drop(columns=['index', 'voted']).values
y_train = 2-df.loc[df['voted'].notnull()]['voted']
x_test = df.loc[df['voted'].isnull()].drop(columns=['index', 'voted']).values
y_train = y_train.astype(np.float32)

In [76]:
x_train = robust_scale(x_train)
x_test = robust_scale(x_test)

In [ ]:
import torch
import torch.nn as nn
from torch.nn import functional as F
from torch.autograd import Variable

In [ ]:
class Net(nn.Module):
  def __init__(self):
    super(Net, self).__init__()
    self.fc1 = nn.Linear(222, 500)
    self.fc2 = nn.Linear(500, 100)
    self.fc3 = nn.Linear(100, 1)
    self.dropout = nn.Dropout(0.2)

  def forward(self, x):
    x = F.relu(self.fc1(x))
    x = self.dropout(x)
    x = F.relu(self.fc2(x))
    x = self.dropout(x)
    x = self.fc3(x)
    return x
model=Net()
print(model)

Net(
  (fc1): Linear(in_features=222, out_features=500, bias=True)
  (fc2): Linear(in_features=500, out_features=100, bias=True)
  (fc3): Linear(in_features=100, out_features=1, bias=True)
  (dropout): Dropout(p=0.2, inplace=False)
)

In [77]:
from sklearn.model_selection import StratifiedKFold
import random
from datetime import datetime

import torch
from torch import nn, optim
from torch.utils.data import DataLoader
from torch.utils.data import TensorDataset
from tqdm import tqdm

In [78]:
train_y_t = torch.tensor(y_train, dtype=torch.float32)
train_x_t = torch.tensor(x_train, dtype=torch.float32)
test_x_t = torch.tensor(x_test, dtype=torch.float32)

test_len = len(test_x_t)

In [ ]:
train_x_t[:, :20] = (train_x_t[:, :20] - 3.) / 2.
test_x_t[:, :20] = (test_x_t[:, :20] - 3.) / 2
train_x_t[:, 20] = (train_x_t[:, 20] - 5.) / 4.
test_x_t[:, 20] = (test_x_t[:, 20] - 5.) / 4.
train_x_t[:, 21:31] = (train_x_t[:, 21:31] - 3.5) / 3.5
test_x_t[:, 21:31] = (test_x_t[:, 21:31] - 3.5) / 3.5

In [79]:
x_train.shape

(45529, 90)

In [80]:
N_REPEAT = 5
N_SKFOLD = 7
N_EPOCH = 48
BATCH_SIZE = 72
LOADER_PARAM = {
    'batch_size': BATCH_SIZE,
    'num_workers': 4,
    'pin_memory': True
}

DEVICE = 'cuda:0' if torch.cuda.is_available() else 'cpu'
prediction = np.zeros((test_len, 1), dtype=np.float32)

for repeat in range(N_REPEAT):

    skf, tot = StratifiedKFold(n_splits=N_SKFOLD, random_state=repeat, shuffle=True), 0.
    for skfold, (train_idx, valid_idx) in enumerate(skf.split(x_train, y_train)):
        train_idx, valid_idx = list(train_idx), list(valid_idx)
        train_loader = DataLoader(TensorDataset(train_x_t[train_idx, :], train_y_t[train_idx]),
                                  shuffle=True, drop_last=True, **LOADER_PARAM)
        valid_loader = DataLoader(TensorDataset(train_x_t[valid_idx, :], train_y_t[valid_idx]),
                                  shuffle=False, drop_last=False, **LOADER_PARAM)
        test_loader = DataLoader(TensorDataset(test_x_t, torch.zeros((test_len,), dtype=torch.float32)),
                                 shuffle=False, drop_last=False, **LOADER_PARAM)
        model = nn.Sequential(
            nn.Dropout(0.05),
            nn.Linear(90, 180, bias=False),
            nn.LeakyReLU(0.05, inplace=True),
            nn.Dropout(0.5),
            nn.Linear(180, 45, bias=False),
            nn.ReLU(inplace=True),
            nn.Linear(45, 1)
        ).to(DEVICE)
        criterion = torch.nn.BCEWithLogitsLoss(pos_weight=torch.tensor([1.20665], device=DEVICE))
        optimizer = optim.AdamW(model.parameters(), lr=5e-3, weight_decay=7.8e-2)
        scheduler = optim.lr_scheduler.CosineAnnealingWarmRestarts(
            optimizer, T_0=N_EPOCH // 6, eta_min=4e-4)
        prediction_t, loss_t = np.zeros((test_len, 1), dtype=np.float32), 1.

        # for epoch in range(N_EPOCH):
        for epoch in tqdm(range(N_EPOCH), desc='{:02d}/{:02d}'.format(skfold + 1, N_SKFOLD)):
            model.train()
            for idx, (xx, yy) in enumerate(train_loader):
                optimizer.zero_grad() ## 최적화 준비
                xx, yy = xx.to(DEVICE), yy.to(DEVICE)
                pred = model(xx).squeeze() ## predict뽑아내기
                loss = criterion(pred, yy) ## loss 뽑아내기
                loss.backward()
                optimizer.step() ## 최적화로 뒤로간다
                scheduler.step(epoch + idx / len(train_loader))

            with torch.no_grad():
                model.eval()
                running_acc, running_loss, running_count = 0, 0., 0
                for xx, yy in valid_loader:
                    xx, yy = xx.to(DEVICE), yy.to(DEVICE)
                    pred = model(xx).squeeze()
                    loss = criterion(pred, yy)
                    running_loss += loss.item() * len(yy)
                    running_count += len(yy)
                    running_acc += ((torch.sigmoid(pred) > 0.5).float() == yy).sum().item()
                # print('R{:02d} S{:02d} E{:02d} | {:6.4f}, {:5.2f}%'
                #       .format(repeat + 1, skfold + 1, epoch + 1, running_loss / running_count,
                #               running_acc / running_count * 100))

                if running_loss / running_count < loss_t:
                    loss_t = running_loss / running_count
                    for idx, (xx, _) in enumerate(test_loader):
                        xx = xx.to(DEVICE)
                        pred = (2. - torch.sigmoid(model(xx).detach().to('cpu'))).numpy()
                        prediction_t[BATCH_SIZE * idx:min(BATCH_SIZE * (idx + 1), len(prediction)), :] \
                            = pred[:, :].copy()
        prediction[:, :] += prediction_t[:, :].copy() / (N_REPEAT * N_SKFOLD)
        tot += loss_t
    print('R{} -> {:6.4f}'.format(repeat + 1, tot / N_SKFOLD))

/usr/local/lib/python3.7/dist-packages/torch/utils/data/dataloader.py:477: UserWarning: This DataLoader will create 4 worker processes in total. Our suggested max number of worker in current system is 2, which is smaller than what this DataLoader is going to create. Please be aware that excessive worker creation might get DataLoader running slow or even freeze, lower the worker number to avoid potential slowness/freeze if necessary.
  cpuset_checked))
01/07: 100%|██████████| 48/48 [03:01<00:00,  3.78s/it]
02/07: 100%|██████████| 48/48 [03:04<00:00,  3.85s/it]
03/07: 100%|██████████| 48/48 [02:56<00:00,  3.68s/it]
04/07: 100%|██████████| 48/48 [03:06<00:00,  3.89s/it]
05/07: 100%|██████████| 48/48 [03:09<00:00,  3.94s/it]
06/07: 100%|██████████| 48/48 [03:12<00:00,  4.00s/it]
07/07: 100%|██████████| 48/48 [02:56<00:00,  3.68s/it]
/usr/local/lib/python3.7/dist-packages/torch/utils/data/dataloader.py:477: UserWarning: This DataLoader will create 4 worker processes in total. Our suggested max number of worker in current system is 2, which is smaller than what this DataLoader is going to create. Please be aware that excessive worker creation might get DataLoader running slow or even freeze, lower the worker number to avoid potential slowness/freeze if necessary.
  cpuset_checked))
01/07:   0%|          | 0/48 [00:00<?, ?it/s]

R1 -> 0.6117

01/07: 100%|██████████| 48/48 [02:55<00:00,  3.65s/it]
02/07: 100%|██████████| 48/48 [03:05<00:00,  3.86s/it]
03/07: 100%|██████████| 48/48 [03:13<00:00,  4.03s/it]
04/07: 100%|██████████| 48/48 [03:24<00:00,  4.26s/it]
05/07: 100%|██████████| 48/48 [03:04<00:00,  3.84s/it]
06/07: 100%|██████████| 48/48 [03:05<00:00,  3.86s/it]
07/07: 100%|██████████| 48/48 [03:24<00:00,  4.26s/it]
/usr/local/lib/python3.7/dist-packages/torch/utils/data/dataloader.py:477: UserWarning: This DataLoader will create 4 worker processes in total. Our suggested max number of worker in current system is 2, which is smaller than what this DataLoader is going to create. Please be aware that excessive worker creation might get DataLoader running slow or even freeze, lower the worker number to avoid potential slowness/freeze if necessary.
  cpuset_checked))
01/07:   0%|          | 0/48 [00:00<?, ?it/s]

R2 -> 0.6114

01/07: 100%|██████████| 48/48 [03:24<00:00,  4.25s/it]
02/07: 100%|██████████| 48/48 [03:20<00:00,  4.17s/it]
03/07: 100%|██████████| 48/48 [03:17<00:00,  4.11s/it]
04/07: 100%|██████████| 48/48 [03:15<00:00,  4.07s/it]
05/07: 100%|██████████| 48/48 [03:21<00:00,  4.20s/it]
06/07: 100%|██████████| 48/48 [03:33<00:00,  4.46s/it]
07/07: 100%|██████████| 48/48 [03:36<00:00,  4.51s/it]
/usr/local/lib/python3.7/dist-packages/torch/utils/data/dataloader.py:477: UserWarning: This DataLoader will create 4 worker processes in total. Our suggested max number of worker in current system is 2, which is smaller than what this DataLoader is going to create. Please be aware that excessive worker creation might get DataLoader running slow or even freeze, lower the worker number to avoid potential slowness/freeze if necessary.
  cpuset_checked))
01/07:   0%|          | 0/48 [00:00<?, ?it/s]

R3 -> 0.6118

01/07: 100%|██████████| 48/48 [03:44<00:00,  4.69s/it]
02/07: 100%|██████████| 48/48 [03:21<00:00,  4.21s/it]
03/07: 100%|██████████| 48/48 [03:19<00:00,  4.15s/it]
04/07: 100%|██████████| 48/48 [03:38<00:00,  4.55s/it]
05/07: 100%|██████████| 48/48 [03:45<00:00,  4.70s/it]
06/07: 100%|██████████| 48/48 [03:46<00:00,  4.73s/it]
07/07: 100%|██████████| 48/48 [03:47<00:00,  4.75s/it]
/usr/local/lib/python3.7/dist-packages/torch/utils/data/dataloader.py:477: UserWarning: This DataLoader will create 4 worker processes in total. Our suggested max number of worker in current system is 2, which is smaller than what this DataLoader is going to create. Please be aware that excessive worker creation might get DataLoader running slow or even freeze, lower the worker number to avoid potential slowness/freeze if necessary.
  cpuset_checked))
01/07:   0%|          | 0/48 [00:00<?, ?it/s]

R4 -> 0.6116

01/07: 100%|██████████| 48/48 [03:27<00:00,  4.32s/it]
02/07: 100%|██████████| 48/48 [03:30<00:00,  4.39s/it]
03/07: 100%|██████████| 48/48 [03:52<00:00,  4.84s/it]
04/07: 100%|██████████| 48/48 [04:02<00:00,  5.05s/it]
05/07: 100%|██████████| 48/48 [03:56<00:00,  4.92s/it]
06/07: 100%|██████████| 48/48 [04:00<00:00,  5.01s/it]
07/07: 100%|██████████| 48/48 [03:43<00:00,  4.65s/it]

R5 -> 0.6116

In [27]:
prediction

array([[1.5000407],
       [1.5000407],
       [1.5000407],
       ...,
       [1.5000407],
       [1.5000407],
       [1.5000407]], dtype=float32)

In [34]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
import xgboost as xgb
import lightgbm as lgbm

In [65]:
data_columns = df.drop(columns=['index', 'voted']).columns
x_train = df.loc[df['voted'].notnull()].drop(columns=['index', 'voted']).values
y_train = 2-df.loc[df['voted'].notnull()]['voted']
x_test = df.loc[df['voted'].isnull()].drop(columns=['index', 'voted']).values

In [66]:
x_train = robust_scale(x_train)
x_test = robust_scale(x_test)

x_train = pd.DataFrame(x_train, columns=data_columns)
x_test = pd.DataFrame(x_test, columns=data_columns)

In [70]:
lgbm_preds = np.zeros((test_len, 1))
for i, (train_index, test_index) in enumerate(skf.split(x_train, y_train)):
  X_train, X_test = x_train.iloc[train_index], x_train.iloc[test_index]
  Y_train, Y_test = y_train.iloc[train_index], y_train.iloc[test_index]

  model_lgbm = lgbm.LGBMClassifier(n_estimators=1000, n_jobs=-1)
  model_lgbm.fit(X_train, Y_train, eval_set=[(X_train, Y_train), (X_test, Y_test)], eval_metric='auc', verbose=100, early_stopping_rounds=50)

  lgbm_preds = model_lgbm.predict_proba(x_test)[:,1] / skf.n_splits

Training until validation scores don't improve for 50 rounds.
[100]	training's binary_logloss: 0.501116	training's auc: 0.837311	valid_1's binary_logloss: 0.558676	valid_1's auc: 0.766611
Early stopping, best iteration is:
[71]	training's binary_logloss: 0.514713	training's auc: 0.822038	valid_1's binary_logloss: 0.557898	valid_1's auc: 0.767571
Training until validation scores don't improve for 50 rounds.
[100]	training's binary_logloss: 0.501166	training's auc: 0.836357	valid_1's binary_logloss: 0.559561	valid_1's auc: 0.765877
Early stopping, best iteration is:
[52]	training's binary_logloss: 0.525445	training's auc: 0.808527	valid_1's binary_logloss: 0.558497	valid_1's auc: 0.767151
Training until validation scores don't improve for 50 rounds.
[100]	training's binary_logloss: 0.501909	training's auc: 0.836984	valid_1's binary_logloss: 0.553284	valid_1's auc: 0.770069
Early stopping, best iteration is:
[68]	training's binary_logloss: 0.517921	training's auc: 0.818188	valid_1's binary_logloss: 0.552652	valid_1's auc: 0.770725
Training until validation scores don't improve for 50 rounds.
Early stopping, best iteration is:
[38]	training's binary_logloss: 0.53532	training's auc: 0.798762	valid_1's binary_logloss: 0.554404	valid_1's auc: 0.771051
Training until validation scores don't improve for 50 rounds.
Early stopping, best iteration is:
[34]	training's binary_logloss: 0.538397	training's auc: 0.797249	valid_1's binary_logloss: 0.554208	valid_1's auc: 0.771816

In [72]:
lgbm_preds

array([0.06562561, 0.02180539, 0.11575038, ..., 0.15226583, 0.12273637,
       0.05607393])

In [28]:
submit=pd.read_csv('/content/drive/MyDrive/dataset/Dacon/연습/심리 성향 예측 AI 경진대회_sample_submission.csv')
submit.iloc[:,1:] = prediction

In [29]:
submit = submit.set_index('index')
submit

          voted
index
0      1.500041
1      1.500041
2      1.500041
3      1.500041
4      1.500041
...         ...
11378  1.500041
11379  1.500041
11380  1.500041
11381  1.500041
11382  1.500041

[11383 rows x 1 columns]

In [ ]:
submit.to_csv('/content/drive/MyDrive/dataset/Dacon/연습/2021-05-21 submit2.csv')

In [ ]:
# 너무 오래걸려서 오늘 다 못돌림 내일 하루종일 돌리기